/* regola base per i margini e bordi */

*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* -------------------- */

/* regola per il float */

.row::after
{
  content: "";
  display: table;
  clear: both;
}

/* -------------------- */

body
{
  font-family: 'Poppins', sans-serif;
}

.container
{
  width: 80%;
  margin: auto;
  border: 1px solid black;
}

.col-100
{
  width: 100%;
}

.menu
{
  height: 80px;;
  border: 1px solid green;
  font-weight: 300;
}

.logo > img
{
  width: 180px;
}

ul
{
  list-style: none;
  line-height: 80px;
}

li
{
  display: inline;
  margin-right: 10px;
}

a:hover, a:visited, a:link, a:active
{
  text-decoration: none;
  color: #878888;
}

.jumbo
{
  height: 420px;
  background: url('../img/banner.jpg');
  background-position: center;
  background-size: cover;
  padding-top: 240px;
  padding-left: 50px;
}

.overlay
{
  background: #000;
  opacity: 0.5;
}

.description
{
  color: white;
  width: 60%;
}

.description > h2
{
  font-weight: 300;
}

.description
{
  font-weight: 200;
}
